.container {
    display: flex;
    flex-shrink: 1;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    background-color: grey; 
    width: 35%;
    flex-direction: column;
    border: 3px solid black;
}
input{
    width: 70%;
    padding: 10px;
    margin: 0px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: lightblue;
    font-weight: bold;
    border: 2px solid black;

}
.clear{
    background-color: wheat;
    border: none;
    width: 15%;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 4px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid black;

}
.equal{
background-color:  #b35258;
}
.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    height: 200%;
    width: 100%;
    
}
h1 {
    color: #333;
    font-size: 3em;
    margin-bottom: 2em;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button {
    padding: 10px;
    margin: 2px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid black;
}

.button:hover {
    background-color: #ccc;
}

