.container {
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    background-color: grey; 
    height: 540px;
    width: 300px;
    flex-direction: column;

}
input{
    width: 67%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: lightblue;
}
.clear{
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
}
.keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
    height: 200%;
    width: 100%;
    
}
h1 {
    color: #333;
    font-size: 3em;
    margin-bottom: 2em;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button {
    padding: 10px;
    margin: 2px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 20px;
    cursor: pointer;
}

.button:hover {
    background-color: #ccc;
}

